  body{
  width:100%;
  height: auto;

}
span{
  color: red;
  font-size: 14px;
}

table tr td{
  text-align: left;
padding: 3px 17px;
}
form{
  text-align: center;
}
.error{
  color:#ff0000;;
}


.txt{
  width:58%;
  margin-top: 4px;
  padding: 10px 5px 10px 32px;
  border: 1px solid rgb(178, 178, 178);
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.login{
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset, 0px 0px 0px 3px rgb(254, 254, 254), 0px 5px 3px 3px rgb(210, 210, 210);
  border: 1px solid #257C9E;
  padding: 1% 1%;
}
.login table{
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  position: relative;

  width: 100%;
}
label{
  width: 75%;
}
.login table td{
  padding:2px;
      text-align: center;
}

.login h1{
  text-align: center;
}
.login h1:after {
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%);
}
.save-cancel{
  width: 44%;
  margin-left: 15%;
  margin-right: 15%;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 15%;
  font-size: 20px;
      margin: 2%;
}
.title{
width: 100%;
padding: 0px!important;
text-align: center;
position: relative;

}
.title h1{
font-size: 48px;
  color: rgb(6, 106, 117);

  font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: bold;
  text-align: center;

}
.get{
  position: absolute;
top: 0px;
width:98%;
padding: 20px 0 20px 0;
margin: 0 0 35px 0;
background: rgb(247, 247, 247);
border: 1px solid rgba(147, 184, 189,0.8);
box-shadow:
  0pt 2px 5px rgba(105, 108, 109,  0.7),
  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
border-radius: 5px;
z-index: 22;
    color: #1d3c41;
}
.get p{
  width: 100%;
      float: left;
      text-align: center;
}
