body{
width:100%;
text-align:center;
}
form{
  width: 10%;
  position: absolute;
  top: 14%;
  left: 40%;
  border-style: outset;
      border-radius: 10px;
    padding: 1%;
}
.popup{
    width: 100%;
}
.setup{

}
.setup input{

}
#myInput{

}
